{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #c62828;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #d32f2f;
}

.login_btn:hover{
color: black;
background-color: white;
}

a{
    color: cornflowerblue;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

</style>
{% endblock %}

{% block body %}
{# 5 impératifs :
    1/ method = post
    2/ action = "login_check"
    3/ name ="_username"
    4/ name ="_password"
    5/ value ="lastUsername"

#}
<div class="container" style="min-height:400px;">
    <div class="d-flex justify-content-center mt-5">
        <div class="card">
            <div class="card-header">
                <h3>Se connecter</h3>
            </div>
            <div class="card-body">
                <form method="post" action="{{ path('login_check') }}">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder ="Pseudo" name="_username" value="{{ last_username }}" id="pseudo">
                            
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Mot de passe" name="_password" id="mdp"">
                    </div>
                    <div class="row align-items-center remember">
                        <input type="checkbox">Remember Me
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Se connecter" class="btn float-right login_btn">
                    </div>
                    </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Vous n'avez pas de compte?<a href="{{ path('registration') }}">Inscrivez-vous ici</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="#">Mot de passe oublié ?</a>
                </div>
            </div>
        </div>
    </div>
</div>

{#
<form method="post" action="{{ path('login_check') }}">
    <div class="row mt-5">

        <div class="col-5">
            <label for="pseudo">Pseudo</label>
            <input type="text" placeholder ="Pseudo" name="_username" value="{{ last_username }}" id="pseudo">
        </div>

        <div class="col-5">
            <label for="mdp">Mot de passe</label>
            <input type="password" placeholder="Mot de passe" name="_password" id="mdp">
        </div>

        <div class="col-2">
            <input type="submit" class="btn btn-success" value="Se connecter">
        </div>
    </div>
</form>
#}
{% endblock %}