{% extends 'back_layout.html.twig' %}

{% block title %}Liste des entraînements {% endblock %}

{% block body %}
Je suis dans l'espace admin qui affiche la liste des entrainement

<div class="row p-1 mb-3">
        <a href="{{ path('admin_training_add') }}" class="btn btn-success">Ajouter un entraînement</a>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary"> 
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Image</th>
                <th>Date d'ajout</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for train in trainings %}
            <tr>
                <td>{{ train.id }}</td>
                <td>{{ train.name }}</td>
                <td>{{ train.description |slice(0,15) }}...</td>
                <td><img href="{{ asset('images/' ~ train.image) }}" height="50px"></td>
                <td>{{ train.addDate|date('d-m-Y') }}</td>
                <td><a href="{{ path('admin_training_update', {'id' : train.id}) }}"><i class="fas fa-edit"></i></a></td>
                <td><a href="{{ path('admin_training_delete', {'id' : train.id}) }}" onclick="return confirm('Etes-vous certain de vouloir supprimer cet entraînement ?')"><i class="fas fa-trash"></i></a></td>
            </tr>
        {% endfor %}    
        </tbody>
    </table>
</div>
{% endblock %}
