{% extends 'base.html.twig' %}

{% block title %}Votre profil{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %} 
<div class="container">

    <h1>Votre profil</h1>

    <div class="card mt-2 mb-5">
    <img src="img.jpg" alt="" style="width:100%">
    <p>{{ app.user.username }}</p>
    <p>Nom : {{ app.user.nom }}</p>
    <p>Prénom : {{ app.user.prenom }}</p>
    <p>Date de naissance : {{ app.user.birthDate | date('d-m-Y') }}</p> 
    <p>Email : {{ app.user.nom }}</p> 
    <p>Ville : {{ app.user.city }}</p> 
    <p>Code Postal : {{ app.user.zipCode }}</p>   
    
    </div> 

    <h2>Vos entraînements</h1>

    {% for train in app.user.trainings %}
    <div class="card mb-5">
        <img src="{{ train.image }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ train.name }}</h5>
            <p class="card-text">{{train.description}}</p>
            <p class="card-text"><small class="text-muted"></small></p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}